@mixin includeFont($name, $style, $weight, $filename) {
  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: url("../fonts/#{$filename}.woff") format("woff");
    src: url("../fonts/#{$filename}.woff2") format("woff2");
  }
}

@mixin useFont($name) {
  font-family: $name, $f-system;
}

@include includeFont($f-inter, normal, 400, 'inter-400');
@include includeFont($f-inter, normal, 700, 'inter-700');
