@include load-font($f-inter, normal, $f-inter-regular, 'inter-400');
@include load-font($f-inter, normal, $f-inter-bold, 'inter-700');

:focus {
  outline: none;
}

::selection {
  background: $c-primary;
  color: #fff;
}

::-webkit-scrollbar {
  width: $s-base;
  background: none;

  &-thumb {
    background: $c-gray-200;
  }
}

body {
  @include font($f-inter, $f-inter-regular);

  overflow-x: hidden;
  background: $c-gray-100;
  color: $c-gray-300;
  line-height: $f-line-height;
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.container {
  padding: 0 var(--bs-gutter-x, #{math.div($s-base-gutter, 2)});

  .row {
    --bs-gutter-x: #{$s-base-gutter};
    --bs-gutter-y: #{$s-base-gutter};
  }
}
