@include load-font($f-inter, normal, $f-inter-regular, 'inter-400');
@include load-font($f-inter, normal, $f-inter-bold, 'inter-700');

:focus {
  outline: none;
}

::selection {
  background: $c-primary;
  color: #fff;
}

::-webkit-scrollbar {
  width: 0.25rem;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: $c-border;
}

body {
  @include font($f-inter, $f-inter-regular);

  overflow-x: hidden;
  background: $c-secondary;
  color: $c-text;
  line-height: $f-line-height;
}

.container {
  padding: 0 var(--bs-gutter-x, #{math.div($s-gutter, 2)});

  .row {
    --bs-gutter-x: #{$s-gutter};
    --bs-gutter-y: #{$s-gutter};
  }
}
