$c-primary: #dc134c;

$c-gray-100: #f2f2f2;
$c-gray-200: #cecece;
$c-gray-300: #222;

$f-size: 16px;
$f-size-sm: 12px;

$f-line-height: 1.7;
$f-line-height-sm: 1.5;

$f-system: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;

$f-inter: '_inter';
$f-inter-regular: 400;
$f-inter-bold: 700;

$s-base: 4px;
$s-base-gutter: $s-base * 5;

$s-round: 0.5em;
$s-round-sm: 0.25em;

$t-duration: 0.6s;
$t-duration-sm: 0.2s;
