$c-primary: #dc134c;
$c-secondary: #f2f2f2;
$c-border: #cecece;
$c-text: #222;

$f-size: 16px;
$f-line-height: 1.7;

$f-system: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, sans-serif;
$f-inter: '_inter';
$f-inter-regular: 400;
$f-inter-bold: 700;

$s-base: 4px;
$s-gutter: $s-base * 5;
